{% extends 'base.html' %}
{% block title %}Add Comment {% endblock %}
{% block content %}

    <h1>Add Comment</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_ul }}
            <button class="btn btn-secondary btn-sm">Add Comment</button>

            <br/><br/>
            <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='{% url 'home' %}'">Back</button>
        </form>
    </div>

{% endblock %}
