{% extends 'base.html' %}
{% block title %}Create a new blog post{% endblock %}
{% block content %}

    <div class="container my-4">
        <h1 class="display-4">Add Post</h1>

        <form method="POST" class="mt-4">

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Post</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
            </form>
        </div>

{% endblock %}
